* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ccc;
}
/* nav class  */
.nav
{
    min-height: 45px;
    width: 100%;
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    /* margin-top: 0;
    position: fixed; */
    position:fixed;
    top: 0;
}
.nav-list
{
   padding-left: 0;
   margin: auto 16px;
}
.nav-item
{
   color:#fff;
   list-style:none;
   margin: 0 8px;
   display: inline-block;
}
/* Form layout */
.form-container
{
    max-width: 720px;
    padding: 32px;
    margin: 40px auto 0 auto;
    background-color: #fff;
    margin-top: 50px;
}
.form__row
{
    display: flex;
}
.form__label
{
    /* flex:1; */
    min-width: 90px;
}
.form__input
{
    flex:1;
}
/* Colum layout */
.column-layout
{
    min-height: auto;
    background-color: #fff;
    display: flex;
    margin: 15px 0 15px 0;
}
.sidebar-one
{
    order:1;
    flex:1;
}
.sidebar-two
{
    order:2;
    flex:1;
}
.main-column
{
    order:3;
    flex:2;
}
/* Feature layout */
.feature-layout
{
    margin-top: 15px;
    /* margin-bottom: 15px; */
    display:flex;
    justify-content: space-around;

}
.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 222);
}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 227);
}
/* wrap layout */
.wrap-layout
{
    
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 150px;
    padding-top: 30px;
}
.wrap-layout__item
{
    width: 148px;
    height: 90px;
    background-color:tomato;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    flex-wrap: wrap-reverse;
}
/* Center Layout */
.center-layout
{
    height: 280px;
    display: flex;
    margin-left: 30% ; 
    margin-bottom: 15px;
}
.center-layout__item
{
    background-color: rgb(216, 240, 130);
    height: 200px;
    width: 50%;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 65px;
}
.chart-layout
{
    height:500px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap-reverse;
}
.chart-layout__item
{
    height: var(--percent);
    width: 50px;
    font-size: medium;
    padding-left: 10px;
    padding-top: 5px;
    background-color: tomato;
    margin: 0 2% 0 2%;
}
/* End */
.the-end
{
    height: 350px;
    width: 60%;
    margin: 30px 20% 30px 20%;
    display: flex;
    font-size: medium;
    margin-bottom: 50px;
}
.the-end__first
{
    background-color: white;
    flex:1;
}
.the-end__second
{
    background-color: white;
    flex:1;
    display: flex;
    flex-direction: column;
}
.the-end__second-one
{
    padding-top: 30px;
    padding-left: 5px;
    flex:1;
    background-color: pink;
}
.the-end__second-two
{
    padding-top: 30px;
    padding-left: 5px;
    flex:1;
    background-color: plum;
}
.end-bar
{
    width: 100%;
    bottom: 0;
    height: 45px;
    background-color: orangered;
    position:fixed;
}
.end-bar-list
{
    display: flex;
    justify-content:end;
    
}
.end-bar__item
{
    font-size: medium;
    color: white;
    list-style: none;
    margin-right: 30px;
}